div.main-header{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e1e1e;
  padding: 15px 25px;
  color: white;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  position: sticky;
  top: 0;
  z-index: 1000;
  max-height:100px;

}