.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  
}

.model{
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  border: 1px solid rgb(72, 111, 228);
  background-color: #fff ;

}

.alert-text {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}

.alert-button {
  padding: 8px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}
.alert-button:hover {
  background-color: #2980b9;
}