div.tasks {

    margin:0 ;
    padding:0 ;
    display: flex; 
    justify-content: center ;
    
}


.cards {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
    background: #eef2f7;
}