nav.main-navigation
{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:70%;

}


nav.main-navigation ul.menu {

    margin:0;
    padding:0;
    display: flex;
    gap:20px;

}


nav.main-navigation ul.menu li {

    margin:0;
    padding:0;
    list-style: none; 

}

 a.link{

    text-decoration: none ;
    color: aliceblue ;


}


